body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
    padding: 1.5rem;
    text-align: center;
    background-color: rgb(229, 229, 229);
    border-radius: 1.5rem;
}

.title-counter{
    margin-top: 0;
}

#increaseBtn{
    background-color: lightgreen;
}
#decreaseBtn{
    background-color: lightcoral;
}
#resetBtn{
    background-color: lightskyblue;
}

.text-counter {
    transition: color 0.3s ease-in-out;
}

